body {
  margin: 0;
  font-family: Arial;
  background: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 380px;
  background: #0a0a0a;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 20px #ffd00033;
}

h1 {
  text-align: center;
  color: #ffd000;
  margin-bottom: 5px;
}

.sub {
  text-align: center;
  font-size: 12px;
  color: #aaa;
}

.input-box {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

input {
  flex: 1;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 6px;
  background: #111;
  color: white;
}

button {
  padding: 10px;
  border: none;
  border-radius: 6px;
  background: #ffd000;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.card {
  background: #111;
  margin-top: 15px;
  padding: 12px;
  border-radius: 8px;
  border-left: 4px solid #ffd000;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.small-btn {
  background: #ffd000;
  border: none;
  padding: 5px 8px;
  font-size: 12px;
  cursor: pointer;
}
